<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset='UTF-8' />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>新規授業作成</title>
    </head>
    <body>
        <h1>新規授業作成</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_name">授業名 : </label>
            {{ form.name }}
            <br>
            <br>
            <label for="id_start_time">開始日時 : </label>
            {{ form.start_date }}
            <br>
            <br>
            <label for="id_start_time">開始時間 : </label>
            {{ form.start_time }}
            <br>
            <br>
            <button type="submit">作成</button>
            <br>
            <br>
            <button type="button" onclick="location.href=`{% url 'courses:select' %}`">
                戻る
            </button>
        </form>
    </body>
</html>
