<!DOCTYPE html>
<html lang='ja'>
    <head>
        {% load static %}
        <meta charset='UTF-8' />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ホーム</title>
    </head>
    <body>
            <h1>ホーム</h1>
            <button type="button" onclick="location.href=`{% url 'accounts:signup_account_selection' %}`">
                アカウント登録
            </button>
            <br>
            <br>
            <button type="button" onclick="location.href=`{% url 'accounts:login' %}`">
                ログイン
            </button>
    </body>
</html>