<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QR Code</title>
        <style>
            img {
                display: block;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <h1>QR Code</h1>
        <img src="{{ qr_image_url }}" alt="QR Code">
        <br>
        <br>
        <button type="button" onclick="location.href=`{% url 'accounts:userpage' %}`">
            戻る
        </button>
    </body>
</html>
