<!DOCTYPE html>
<html lang="ja">
    <head>
        {% load static %}
        <meta charset='UTF-8' />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/students_qr/qr_code.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QR Code</title>
    </head>
    <body>
        <header>
            <h1>QRAttendanceSystem</h1>
        </header>
        <h1>QR Code</h1>
        <img src="{{ qr_image_url }}" alt="QR Code">
        <br>
        <br>
        <button type="button" onclick="location.href=`{% url 'accounts:userpage' %}`">
            戻る
        </button>
    </body>
</html>
